.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leaflet-container {
  width: 70vw;
  height: 100vh;
}
.screenleft {
  border: solid 1px rgb(0, 0, 0);
  height: 100vh;
  width: 40vh;
  
}

.country {padding: 2 rem;
  margin: 2 rem;

}
